<h1>Image search service</h1>
<p>Welcome to Image search service</p>

<br><br>
<strong>https://getimage-api.herokuapp.com/api/latest</strong>

<br><br>Use this url to know the latest searches

<br><br>
<strong>https://getimage-api.herokuapp.com/api/images/<font color="red">YOUR_QUERY_STRING</font></strong>

<br><br>Use this url to get google image search results
